# Match color of headers, that is included into final pages
# from the asciidoc distro, seek there for a file with e.g.
# "Shared CSS for AsciiDoc xhtml11 and html5 backends":

a.anchorjs-link {
  color: inherit;
  text-decoration: inherit;
}
a.anchorjs-link:visited {
  color: inherit;
  text-decoration: inherit;
}
